* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}

body {
    height: 90vh;
    width: 100%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
.main {
    height: 500px;
    width: 500px;
    border: 1px solid;
    display: grid;
    place-items: center;
    justify-items: center;
    background: black;
}
.container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    display: grid;
    place-items: center;
    justify-items: center;
    gap: 10px;
    width: 260px;
    height: 350px;
    border-radius: 12px;
    background: black;
    box-shadow: 0px 0px 4px gray;
}
.screen-txt {
    height: 80px;
    width: 220px;
    color: whitesmoke;
    background: black;
    outline: none;
    border: none;
    text-align: right;
    font-size: 30px;
    font-weight: bolder;
    padding-right: 10px;
    /* border: 1px solid blue; */
}

.btn-div {
    height: 220px;
    width: 240px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    /* border: 1px solid rgb(21, 255, 0); */
}

.btn {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    outline: none;
    border: none;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: whitesmoke;
    background: black;
    box-shadow: 0px 0px 4px gray;
}
/* .btn_ac {
    color: blue;
} */

.btn:nth-child(4) {
    color: blue;
}
.btn:nth-child(8) {
    color: blue;
}
.btn:nth-child(12) {
    color: blue;
}
.btn:nth-child(16) {
    color: blue;
}

@media only screen and (max-width: 600px) {
    body {
        height: 90vh;
        width: 100%;
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
    }
    .main {
        height: 90%;
        width: 100%;
        border: 1px solid;
        display: grid;
        place-items: center;
        justify-items: center;
        background: black;
    }
    .container {
        /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
        display: grid;
        place-items: center;
        justify-items: center;
        gap: 10px;
        width: 100%;
        height: 98%;
        border-radius: 12px;
        background: black;
        box-shadow: none;
    }
    .screen-txt {
        height: 100px;
        width: 300px;
        color: whitesmoke;
        background: black;
        outline: none;
        border: none;
        text-align: right;
        font-size: 30px;
        font-weight: bolder;
        padding-right: 10px;
        /* border: 1px solid blue; */
    }

    .btn-div {
        height: 380px;
        width: 300px;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(4, 1fr);
        /* border: 1px solid rgb(21, 255, 0); */
    }

    .btn {
        height: 62px;
        width: 62px;
        border-radius: 50%;
        outline: none;
        border: none;
        text-align: center;
        font-size: large;
        font-weight: bolder;
        color: whitesmoke;
        background: black;
        box-shadow: 0px 0px 4px gray;
    }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        height: 90vh;
        width: 100%;
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
    }
}
